body {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-left: 250px;
    padding-top: 80px;
}
.registroImagen{
    width: 800px;
    margin-left: 250px;
    margin-bottom: 240px;
}
.Registro {
    position: absolute;
    top: 220px;
    left: 390px;
    color: black;
    font-size: 33px;
}

#formularioRegistro {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#formularioRegistro input {
    background: #F5F6FA;
    width: 350px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
    padding: 7px;
    padding-left: 20px;
    font-family: "Josefin Slab", serif;
    font-size: 15px;
    transition: transform 0.3s ease;
    outline: none;
}

#formularioRegistro input:focus {
    transform: translateY(-5px);
    }

.form-container {
    padding: 30px;
    border-radius: 10px;
    width: 360px;
    position: relative;
    text-align: left; 
}


#formularioRegistro label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}

.btnRegistro {
    width: 175px;
    height: 44px;
    padding: 10px;
    background-color: #A3E784;
    border: none;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    align-self: center; 
}


.Logo {
    width: 320px;
    height: 125px;
    position: absolute;
    top: 80px;
    left: 308px;
}

.inicio {
    width: 660px;
    position: absolute;
    top: 830px;
    left: 330px;
    text-align: left;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #A3E784;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}



@media (max-width: 768px) {
    .registroImagen {
        display: none; /* Ocultar la imagen en pantallas pequeñas */
    }
    .form-container {
        max-width: none; /* Eliminar el límite de ancho */
    }
    .Registro {
        font-size: 24px; /* Reducir el tamaño del texto */
    }
}

@media (max-width: 480px) {
    .Registro {
        font-size: 20px; /* Reducir aún más el tamaño del texto */
        top: 50px;
    }
}

body {
    position: static;
    overflow: hidden;
}




