---
import Input from "../Components/Input.astro"
import BotonPrincipal from "../Components/BotonPrincipal.astro"
import BotonSegundo from "../Components/BotonSegundo.astro"
import SelectBoxTI from "../Components/SelectBoxTI.astro"
import SelectBoxRol from "../Components/SelectBoxRol.astro"
import RadioButton from "../Components/RadioButton.astro"
import Layoutprincipal from "../layouts/LayoutPrincipal.astro"
import Layoutcontenido from "../layouts/Layoutcontenido.astro"

import Modal from "../Components/Modal.astro"
---


<Layoutprincipal title="Crear Usuario">
    <Layoutcontenido title="Crear Usuario">
        <div class="w-full md:w-1/2 " >   
        <div class="flex flex-col  p-[5%]  Flex-box ">

            <h1>Nombre del usuario:</h1>
            <Input Text="" placeholder="Ej: Pepito Perez" type="text" id='nombreUsu'/>
            <h1>Tipo de documento</h1>
            <SelectBoxTI Text=""/>
            <h1>Numero de documento</h1>
            <Input  placeholder="Numero de docuemnto" type="text" Text="" id='numeroDoc'/>
            <h1>Correo:</h1>
        <Input  placeholder="Correo" type="email"Text="" id='correo'/>
    </div>
</div>

<div class="w-full md:w-1/2" >  
    <div class="  flex flex-col  p-[5%]  Flex-box">
            <h1>Contraseña:</h1>
            <Input Text="" placeholder=".............." type="password" id=""/>
            <h1>Tipo de Rol:</h1>
            <SelectBoxRol Text=""/>
            <h1 >  Estado:</h1>
            <div class="flex h-[65px] ">
            <RadioButton Text="Activo"/> <RadioButton Text="Inactivo"/>
        </div>
            <h1>Celular:</h1>
            <Input Text="" placeholder="Ej: 312456789" type="text" id=""/>

            <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
                <a href="/HomeSuperAdmin">
                    <BotonPrincipal Text="Volver" />
                </a>
                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 show-modal">
                    <BotonSegundo Text="Guardar" />
                </div>
            </div>
        </div>
    </div>
    </div>


<Modal Text="Usuario registrado correctamente" >

<script>
    const modal = document.querySelector('.modal');
    const showModal = document.querySelector('.show-modal');
    const closeModal = document.querySelector('.close-modal')
    showModal?.addEventListener('click', function(){
        modal?.classList.remove('hidden')
    });
    closeModal?.addEventListener('click', function(){
        modal?.classList.add('hidden')
    });
</script>
    </Layoutcontenido>
</Layoutprincipal>