---
import Input from "../Components/Input.astro"
import BotonPrincipal from "../Components/BotonPrincipal.astro"
import SelectBoxTI from "../Components/SelectBoxTI.astro"
import SelectBoxRol from "../Components/SelectBoxRol.astro"
import RadioButton from "../Components/RadioButton.astro"
import LayoutsCrearUsuario from '../layouts/LayoutsCrearUsuario.astro';
---

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />

<style>
    .font-josefin-slab {
        font-family: 'Josefin Slab', serif;
    }
</style>

<LayoutsCrearUsuario title="Crear Uasuaio" title2="Craer Usario">

        <div class="flex-box flex flex-col space-y-8 w-1/2">
            <Input Text="Nombre del usuario:" placeholder="Jairo Ramirez" type="text"/>
            <div class=" w-1/2">
                <SelectBoxTI Text="Tipo de documento"/>
            </div>
            <Input Text="Número de documento:" placeholder="1112343546" type="text"/>
            <Input Text="Correo Electrónico:" placeholder="jairoramirez@misena.edu.co" type="email"/>
        </div>

        <div class="Flex-box flex flex-col space-y-8 w-1/2">
            <Input Text="Contraseña:" placeholder=".............." type="password"/>
            <div class=" w-1/2">
                 <SelectBoxRol Text="Rol del usuario:"/>
            </div>
           
            <div class=" space-y-11">
            <div class="flex-box flex flex-col space-y-6">
                <h1 class="font-josefin-slab text-black font-semibold ">Estado:</h1>
                <div class="flex space-x-8">
                    <RadioButton Text="Activo"/> <RadioButton Text="Inactivo"/>
                </div>
            </div>
            </div>
            <div class="flex-box flex flex-col space-y-5 w-1/2 ">
                    <Input Text="Celular:" placeholder="3245678900" type="text"/>
            </div>

            <div class="flex justify-end">
                <BotonPrincipal Text="Guardar"/>
            </div>
        </div>
    </div>
</div>
</div>
        </LayoutsCrearUsuario>
    