---
import Input from "../Components/Input.astro"
import Button_Inicio from "../Components/Button_Inicio.astro"
import SelectBox_Identidad from "../Components/SelectBox_Identidad.astro"
import SelectBox_Rol from "../Components/SelectBox_Rol.astro"
import Button_Radio from "../Components/Button_Radio.astro"
import Layout from '../layouts/PostLayout.astro';
---

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />

<style>
    .font-josefin-slab {
        font-family: 'Josefin Slab', serif;
    }
</style>

<Layout title="Crear Uasuaio" title2="Craer Usario">

        <div class="flex-box flex flex-col space-y-8 w-1/2">
            <Input Text="Nombre del usuario:" placeholder="Jairo Ramirez" type="text"/>
            <SelectBox_Identidad Text="Tipo de documento"/>
            <Input Text="Número de documento:" placeholder="1112343546" type="text"/>
            <Input Text="Correo Electrónico:" placeholder="jairoramirez@misena.edu.co" type="email"/>
        </div>

        <div class="Flex-box flex flex-col space-y-8 w-1/2">
            <Input Text="Contraseña:" placeholder=".............." type="password"/>
            <SelectBox_Rol Text="Rol del usuario:"/>

            <div class=" space-y-11">
            <div class="flex-box flex flex-col space-y-6">
                <h1 class="font-josefin-slab text-black font-semibold ">Estado:</h1>
                <div class="flex space-x-8">
                    <Button_Radio Text="Activo"/> <Button_Radio Text="Inactivo"/>
                </div>
            </div>
            </div>
            <div class="flex-box flex flex-col space-y-3 w-1/2 ">
                    <Input Text="Celular:" placeholder="3245678900" type="text"/>
            </div>

            <div class="flex justify-end">
                <Button_Inicio Text="Guardar"/>
            </div>
        </div>
    </div>
</div>
</div>
        </Layout>
    