---
import LayoutsCrearUsuario from '../layouts/LayoutUsuario.astro';
import Button from "../Components/BotonPrincipal.astro"
import Input from '../Components/Input.astro';
import SelectBoxTI from "../Components/SelectBoxTI.astro"
import LayoutPrincipal from '../layouts/LayoutPrincipal.astro';
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
---

<LayoutPrincipal title="Crear Usuario">
    <Layoutcontenido title="Crear Usuario">

    <div class="w-full md:w-1/2" >   
    <div class=" p-11 flex flex-col space-y-2   Flex-box    ">
        <h1>Nombre completo</h1>
        <Input  placeholder="Nombre completo" type="text" Text="" id='nombre'/>
        <h1>Tipo de documento</h1>
          <SelectBoxTI Text=""/>
          <h1>Numero de documento</h1>
        <Input  placeholder="Numero de docuemnto" type="text" Text="" id='numeroDoc'/>
        <h1>Telefono</h1>
        <Input   placeholder="Telefono" type="text"Text="" id='telefono'/>
    </div>
    </div>

    <div class="w-full md:w-1/2" >
    <div class=" p-11 flex flex-col space-y-2    Flex-box ">
        <Input  placeholder="Correo" type="email"Text="Correo" id='correo'/>
       
        <Input  type="text" Text="Nombre De la Empresa" placeholder="Nombre De la Empresa:" id='nombreEmpresa'/>
        <Input placeholder="Contraseña" type="password" Text="Contraseña" id='contraseña'/>
        <Input placeholder="Confirmar Contraseña" type="password" Text="Confirmar Contraseña" id='confiContraseña'/>
    </div>
</div>



    </Layoutcontenido></LayoutPrincipal>
    