---
import Input from '../Components/Input.astro';
import SelectBoxTI from "../Components/SelectBoxTI.astro"
import LayoutPrincipal from '../layouts/LayoutPrincipal.astro';
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import BotonPrincipal from '../Components/BotonPrincipal.astro';
import ModalPerfil from '../Components/ModalPerfil.astro';
---




<LayoutPrincipal title="Editar Perfil">
    <Layoutcontenido title="Editar Perfil">

    <div class="w-full md:w-1/2 " >   
    <div class="  flex flex-col space-y-2 p-[5%]  Flex-box     ">
        <h1>Nombre completo</h1>
        <Input  placeholder="Nombre completo" type="text" Text="" id='nombre'/>
        <h1>Tipo de documento</h1>
          <SelectBoxTI Text=""/>
          <h1>Numero de documento</h1>
        <Input  placeholder="Numero de docuemnto" type="text" Text="" id='numeroDoc'/>
        <h1>Telefono</h1>
        <Input   placeholder="Telefono" type="text"Text="" id='telefono'/>
    </div>
    </div>

    <div class="w-full md:w-1/2  " >
    <div class="  flex flex-col space-y-2  p-[5%] Flex-box  ">
        <h1>Correo:</h1>
        <Input  placeholder="Correo" type="email"Text="" id='correo'/>
        <h1>Nombre De la Empresa:</h1>
        <Input  type="text" Text="" placeholder="Nombre De la Empresa" id='nombreEmpresa'/>
        <h1>Contraseña</h1>
        <Input placeholder="Contraseña" type="password" Text="" id='contraseña'/>
        <h1>Confirmar Contraseña</h1>
        <Input placeholder="Confirmar Contraseña" type="password" Text="" id='confiContraseña'/>
    </div>
</div>
<div class=" flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 show-modal" >
    <BotonPrincipal Text='Guardar'/>
</div>
<ModalPerfil Text='Perfil actualizado'/>

<script>
    const modal = document.querySelector('.modal');

    const showModal = document.querySelector('.show-modal');
    const closeModal = document.querySelector('.close-modal')

    showModal?.addEventListener('click', function(){
        modal?.classList.remove('hidden')
    });

    closeModal?.addEventListener('click', function(){
        modal?.classList.add('hidden')
    });
</script>

    </Layoutcontenido></LayoutPrincipal>
    