---
import Layoutprincipal from "../layouts/Layoutprincipal.astro";
import Layoutadmin from "../layouts/Layoutadmin.astro";

---

<Layoutprincipal>

<Layoutadmin title="Admin">
<main>
    <h1>hola</h1>
</main>
</Layoutadmin>
    
</Layoutprincipal>