---

import BotonPrincipal from "../Components/BotonPrincipal.astro"
import Input from "../Components/Input.astro"
import RadioButton from "../Components/RadioButton.astro"
import Sidebard from "../Components/Sidebard.astro"

import BotonSegundo from "../Components/BotonSegundo.astro"
import PostLayout from "../layouts/PostLayout.astro"
---


<PostLayout title="1" title2="Registro Proyecto">
    <div class="w-full max-w-2xl">

            

        <div class="flex   flex-col space-y-8">
            <Input type="text"  Text="Nombre Del Proyecto" placeholder="Ejemplo: Pac"  />
            <Input type="text"  Text="Sector Impactado" placeholder="Impacto Del Proyecto:"  />
            <Input type="text"  Text="Responsable" placeholder="Responsable Del Proyecto"  />
            
            <div class="space-y-2">
                <label class="font-josefin-slab font-semibold text-black">
                    Disponibilidad Para Reuniones Con El Equipo Desarrollador
                </label>
            </div>

            <div class="grid grid-cols-3 gap-4">
            <BotonPrincipal Text="Semanal"/>
            <BotonPrincipal Text="Quincenal"/>
            <BotonPrincipal Text="Mensual"/>
        </div>
        <div class="grid grid-cols-3 gap-x-8 gap-y-4 mt-4">
            <RadioButton Text="Lunes"/>
            <RadioButton Text="Martes"/>
            <RadioButton Text="Miércoles"/>
            <RadioButton Text="Jueves"/>
            <RadioButton Text="Viernes"/>
            <RadioButton Text="Sábado"/>
        </div>
        
        <BotonSegundo Text="Guardar"/>
    </div>

</div>

</PostLayout>
   
        
    
        
                       