---

import BotonPrincipal from "../Components/BotonPrincipal.astro"
import Input from "../Components/Input.astro"
import RadioButton from "../Components/RadioButton.astro"
import Sidebard from "../Components/Sidebard.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>PAC</title>

        <style>
    

            body {
                font-family: "Josefin Slab", serif;
                font-optical-sizing: auto;
            }
        </style>

	</head>
    <body class="bg-Gris_Oscuro bg-cover bg-center h-screen overflow-y-scroll bg-[#F5F6FA]">
        

            <div class=" text-center p-8">
                <span class="font-serif text-3xl">Registra Tu Proyecto</span>
            </div>
            <div class="p-10 w-3/3 h-full bg-white rounded-lg border-none border-Borde_gris adsolute mx-40">
                <div class="p-10 flex justify-center items-center">
                        <div class="w-full max-w-2xl">

                            <div class="flex flex-col space-y-8">
                                <Input type="text"  Text="Nombre Del Proyecto" placeholder="Ejemplo: Pac"  />
                                <Input type="text"  Text="Sector Impactado" placeholder="Impacto Del Proyecto:"  />
                                <Input type="text"  Text="Responsable" placeholder="Responsable Del Proyecto"  />
                                
                                <div class="space-y-2">
                                    <label class="font-josefin-slab font-semibold text-black">
                                        Disponibilidad Para Reuniones Con El Equipo Desarrollador
                                    </label>
                                </div>

                                <div class="grid grid-cols-3 gap-4">
                                <BotonPrincipal Text="Semanal"/>
                                <BotonPrincipal Text="Quincenal"/>
                                <BotonPrincipal Text="Mensual"/>
                            </div>
                            <div class="grid grid-cols-3 gap-x-8 gap-y-4 mt-4">
                                <RadioButton Text="Lunes"/>
                                <RadioButton Text="Martes"/>
                                <RadioButton Text="Miércoles"/>
                                <RadioButton Text="Jueves"/>
                                <RadioButton Text="Viernes"/>
                                <RadioButton Text="Sábado"/>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </body>
        </html>