---
import Input from "../Components/Input.astro"
import AceptarTerminos from "../Components/AceptarTerminos.astro"
import BotonPrincipal from "../Components/BotonPrincipal.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>Registro</title>
</head>

<body class="bg-white flex justify-start items-center h-screen m-0 pl-[250px] pt-[50px] overflow-hidden">

    <img class="w-[200px] lg:w-[320px] h-[100px] lg:h-[124px] mt-[20px] lg:absolute lg:top-[64px] lg:left-[300px]" src="/public/img/Logo.png">
    <h2 class="absolute top-[204px] left-[390px] text-black text-[33px]  ">REGISTRO</h2>
    
    <div class="form-container p-[35px] rounded-[10px] w-[380px] mt-14 relative text-left pr-5" >
        <form id="formularioRegistro" class="flex flex-col items-start mt-20 w-[350px] lg:mt-[80px]  ">

            <Input type="text" placeholder="Nombre Completo:"  />
            <Input type="text" placeholder="Numero De Documento:" />
            <Input type="text" placeholder="Tipo De Documento:" />
            <Input type="text" placeholder="Correo:" />
            <Input type="text" placeholder="Telefono:" />
            <Input type="text" placeholder="Nombre De la Empresa:" />
            <Input type="password" placeholder="Contraseña:" />
            <Input type="password" placeholder="Confirmar contraseña:" />
            
            <AceptarTerminos/>
            <BotonPrincipal Text="Registrarse"/>
            <h3 class=" w-[200px] h-[44px] py-[10px]  cursor-pointer text-[15px] mt-3 self-center">Ya tienes cuenta? <u>Iniciar Sesion</u></h3>
        </form>
    </div>
    <img class="hidden lg:block w-full lg:w-[800px] lg:ml-[250px] lg:mb-[120px]" src="/public/img/registro.png">


    <style>
    

        body {
            font-family: "Josefin Slab", serif;
            font-optical-sizing: auto;
        }
    </style>
  

</body>
</html>


