---
import LayoutPrincipal from "../layouts/LayoutPrincipal.astro";
import Card from "../Components/Card.astro";
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import BarraPreguntas from "../Components/BarraPreguntas.astro";
import BotonPrincipal from "../Components/BotonPrincipal.astro";
import BotonSegundo from "../Components/BotonSegundo.astro";
---


<LayoutPrincipal title="">


<Layoutcontenido title="">

    <div class="flex justify-center  min-h-screen">
        <div class="p-10 w-full max-w-7xl my-10 bg-white rounded-lg border-none border-Borde_gris">
        <div class="flex flex-col space-y-8">
           

            <div class="flex justify-center">
                <BarraPreguntas Text1="Alcance Del Proyecto" Text2="" Text3= ""/>
                
            </div>

            <a href="/VistaAlcance">
            <BotonSegundo Text="Siguiente"></BotonSegundo>
            </a>

            <a href="/VistaObjetivos">
            <BotonPrincipal Text="Volver"></BotonPrincipal>
            </a>
            

        </div>
    </div>
</div>

</Layoutcontenido>

</LayoutPrincipal>