---
import LayoutPrincipal from "../layouts/LayoutPrincipal.astro";
import CardAreas from "../Components/CardAreas.astro";
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import BotonPrincipal from "../Components/BotonPrincipal.astro";
import BotonSegundo from "../Components/BotonSegundo.astro";
---


<LayoutPrincipal title="">


<Layoutcontenido title="">

    <div class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
            <CardAreas Text="1. Gestión De Recursos Humanos" 
            Text2="Reclutamiento y Selección"/>


            <CardAreas Text="2. Gestión de la Relación con Clientes" Text2="d" />
            <CardAreas Text="Gestión Empresarial" Text2="d"/>
            <CardAreas Text="Gestión Empresarial" Text2="d"/>
            
            
        </div>
        
    </div>

    

</Layoutcontenido>

</LayoutPrincipal>