---
import Card from "../Components/Card.astro"
import LayoutUsuario2 from "../layouts/LayoutUsuario2.astro"
---

<LayoutUsuario2 title="Vista Areas" title2="Areas De Proyectos" title3="Por favor seleccione el área en la cual se centrará su proyecto">

 <div class="flex justify-center">
     <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

        <a href="/VistaAreasProyectos2">
         <Card Text="Gestión Empresarial"/>
        </a>

        <a href="/VistaAreasProyectos2">
            <Card Text="Gestión Empresarial"/>
        </a>
        
         <Card Text="Gestión Empresarial"/>
         <Card Text="Gestión Empresarial"/>
         <Card Text="Gestión Empresarial"/>
    </div>
</div>
                
</LayoutUsuario2>