---

import BotonPrincipal from "../Components/BotonPrincipal.astro"
import Input from "../Components/Input.astro"
import RadioButton from "../Components/RadioButton.astro"

import NavbarI from "../Components/Navbar.astro"
import BotonSegundo from "../Components/BotonSegundo.astro"
import Card from "../Components/Card.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>PAC</title>

        <style>
    

            body {
                font-family: "Josefin Slab", serif;
                font-optical-sizing: auto;
            }
        </style>

	</head>
    <body class="bg-Gris_Oscuro bg-cover bg-center h-screen overflow-y-scroll bg-[#F5F6FA]">
        <NavbarI Text="Navbar" />

        <div class="flex justify-center  min-h-screen">
            <div class="p-10 w-full max-w-7xl my-10 bg-white rounded-lg border-none border-Borde_gris">
            <div class="flex flex-col space-y-8">
                <div class="text-left mb-4">
                    <span class="font-josefin-slab text-3xl font-bold text-black">Áreas de Proyectos</span>
                    <h1 class="font-josefin-slab text-2xl text-black">Por favor seleccione el área en la cual se centrará su proyecto</h1>
                </div>
    
                <div class="flex justify-center">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                        <Card Text="Gestión Empresarial"/>
                        <Card Text="Gestión Empresarial"/>
                        <Card Text="Gestión Empresarial"/>
                        <Card Text="Gestión Empresarial"/>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>