---
import Layoutprincipal from "../layouts/Layoutprincipal.astro"
import BarraPreguntas from "../Components/BarraPreguntas.astro"
import Grid from "../Components/Grid.astro"
import EstadoAprobado from "../Components/EstadoAprobado.astro"
---

<Layoutprincipal title="">
    <div class="flex justify-center min-h-screen">
        <div class="p-10 w-full max-w-7xl my-10">
            <div class="flex flex-col space-y-8">

                <div class="flex justify-center">
                    <BarraPreguntas Text1="Objetivos" Text2="Estado" Text3=""/>
                </div>

                <Grid Text1="PAC"></Grid>
                <Grid Text1="Boteritos" ></Grid>
                <Grid Text1="Software contable liviano" ></Grid>
                <Grid Text1="Plataforma Banca II" ></Grid>
                <Grid Text1="Libro de registro de operaciones diarias" ></Grid>
                <Grid Text1="MISE" ></Grid>
                <Grid Text1="Agendamiento centro de estetica facial" ></Grid>
                <Grid Text1="Mesa de soporte" ></Grid>
            </div>
        </div>
    </div>
</Layoutprincipal>