---
import LayoutPrincipal from "../layouts/LayoutPrincipal.astro";
import Card from "../Components/Card.astro";
import Layoutcontenido from "../layouts/Layoutcontenido.astro"

---


<LayoutPrincipal title="">


<Layoutcontenido title="">

    <div class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
   
           <a href="/VistaAreas2">
            <Card Text="Gestión Empresarial"/>
           </a>
   
           <a href="/VistaAreasProyectos2">
               <Card Text="Gestión Empresarial"/>
           </a>
           
            <Card Text="Gestión Empresarial"/>
            <Card Text="Gestión Empresarial"/>
            <Card Text="Gestión Empresarial"/>
            <Card Text="Gestión Empresarial"/>
            
       </div>
   </div>

</Layoutcontenido>

</LayoutPrincipal>