---
interface Props {
    //TypeScript
    title: string;
}

const { title } = Astro.props;
---

<main class="flex justify-center items-center min-h-screen min-w-full md:h-auto 2xl:p-10 pl-9 p-10 xl:pl-32 2xl:pl-32 xl:pr-8 ">
    <div class="xl:w-full  2xl:h-auto lg:w-auto md:h-full h-auto  p-8 rounded-lg border-none bg-white">
    
        <slot />

    </div>


</main>