---
interface Props {
    //TypeScript
    title: string;
}

const { title } = Astro.props;
---

<main class="flex justify-center items-center h-full 2xl:p-10 pl-20 p-4  ">
    <div class=" h-auto p-8 rounded-lg border-none bg-white ">
    
        <slot />

    </div>


</main>