body {
    font-family: "Josefin Slab", serif;
    background-color: #ffff;
    position: static;

}

.Nino {
    width: 530px;
    height: 550px;
}
.container {

    display: flex;
    width: 50%;
    margin: 0% auto;
    align-items: center;
    padding: 100px;
    justify-content: center;
}


   
.form-containers {
    	     margin-right: 40px;
         background: #fff;
         border-radius: 10px;
         width: 60em;
        height: 33em;
    	     display: flex;
       flex-direction: column;
    }
    
    

.form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login {
margin-top: 55px;
margin-bottom: 20px;
}

/*tamaño de los inputs*/
.campo {
background-color: rgba(245, 246, 250, 1);
width: 350px;
height: 30px;
border-radius: 4px;
border: 1px solid rgba(213, 213, 213, 1);
margin-bottom: 20px;
padding: 7px;
padding-left: 20px;
transition: transform 0.3s ease; /* Transición para la animación */
outline: none;
}

.campo:focus {
transform: translateY(-5px); /* Mover el input hacia arriba en focus */
}

/*tamaño del boton iniciar*/
.iniciar {
background-color: rgba(163, 231, 132, 1);
width: 111px;
height: 40px;
border-radius:5px;
border: none;
margin-top: 45px;
margin-bottom: 25px;
box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra del botón */
transition: box-shadow 0.3s ease; /* Transición para la sombra */
transition: transform 0.3s ease; /* Transición para la transformación */
}

.iniciar:hover {
box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Cambio de la sombra en hover */
transform: scale(1.02); /* Escala ligeramente mayor en hover */
}

.logo-sena {
display: flex;
align-items: center;
justify-content: center;
width: 203px;
height: 75px;
background-color:rgba(163, 231, 132, 1); 
border-bottom-left-radius: 35px; /* Redondea la esquina inferior izquierda */
border-bottom-right-radius: 35px; /* Redondea la esquina inferior derecha */

box-shadow: 0 3px 1px rgba(0, 0, 0, 0.151); /* Sombra del botón */

}

.sena{
width: 60px;
height: 60px;
}

.bottom-form {
width: auto;
height: auto;
display: flex;
}
/*-------------------------*/

.img-container {
width: auto;
height: auto;
display:flex;
justify-content: center;
align-items: center
}

