---

interface Props {
Text1: string;
Text2: string;
Text3: String;
}

const {Text1, Text2, Text3} = Astro.props;
---


<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />

<style>
    .font-josefin-slab {
        font-family: 'Josefin Slab', serif;
    }
    .font-josefin-sans {
        font-family: 'Josefin Sans', sans-serif;
    }
    .font-inter {
        font-family: 'Inter', sans-serif;
    }
</style>



<div class="w-full h-20 bg-[#A3E784]  border-2 border-[#ffffff]   flex flex-col justify-center adsolute p-8 ">

    
    <div class="flex justify-between items-center">
        <span class="text-2xl font-josefin-slab font-bold">{Text1}</span> 
        <div class="flex space-x-10">
            <span class="text-2xl font-josefin-slab font-bold">{Text2}</span>
            <span class="text-2xl font-josefin-slab font-bold">{Text3}</span>
        </div>

    </div>
    
</div>

