---
interface Props {
Text: string;
}

const { Text} = Astro.props;
---
 <button class= "w-[175px] h-[44px] py-[10px] bg-[#A3E784] border-none text-black rounded-[5px] cursor-pointer text-[18px] mt-3 self-center">{Text}</button>
