---
title: "Inicio";
import  "../../src/style/inicio.css";



---



<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            href="https://fonts.googleapis.com/css?family=Inter&display=swap"
            rel="stylesheet"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    
    </head>
    <body>
        <div class="container">
        <div class="form-containers">
            <form action="#" class="form">

                <div class= "logo-sena ">
                    <img class="sena" src="/public/img/logoSena.png" width="10" height="10">
                </div>

                <div class="login"><h3>LOGIN</h3></div>

                <input class="w-[350px] bg-gray-100 h-[30px] rounded border border-gray-300  mb-5 p-[7px] 
                pl-[20px] transition-transform outline-none " type="text" name="email" placeholder="Email" />

                <input class="w-[350px] bg-gray-100 h-[30px] rounded border border-gray-300  mb-5 p-[7px] 
                pl-[20px] transition-transform outline-none " type="password" name="password" placeholder="Password" />


                <div class="btn">
                    <button class="iniciar" type="submit">Iniciar sesion</button>
                </div>
                <div class="bottom-form">
                    <div class="no-account">No tienens cuenta?</div>
                    <a href="#" class="signup">Registrarse</a>
                </div>
            </form>
        </div>

        <div class="img-container">
            <img class="Nino" src="/public/img/ninoinicio.png">
        </div>

    </div>

    </body>

 
</html>
