---
title: "Registro"

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet" />
    <link href="/src/style/registro.css" rel="stylesheet" />
    <title>PAC</title>
</head>
<body>
    <div class="form-container">
        <img class="Logo" src="/public/img/Logo.png">
        <h2 class="Registro" >REGISTRO</h2>
        <form id="formularioRegistro">
            <div>
                <label for="nombreCompleto"></label>
                <input type="text" value="Nombre Completo:" id="nombreCompleto" name="nombreCompleto" required>
            </div>
            <div>
                <label for="numerodeDocuemnto"></label>
                <input type="text" value="Numero de Docuemnto:" id="numerodeDocumento" name="numerodeDocument" required>
            </div>
            <div>
                <label for="email"></label>
                <input type="email" value="Correo:" id="email" name="email" required>
            </div>
            <div>
                <label for="contraseña"></label>
                <input type="password" value="Contraseña:" id="contraseña" name="contraseña" required>
            </div>
            <div>
                <label for="confirmarcontraseña"></label>
                <input type="password"  value="Confirmar Contraseña:" id="confirmarcontraseña" name="confirmarcontraseña" required>
            </div>
            <div>
                <label for="telefono"></label>
                <input type="text" value="Telefono:" id="telefono" name="telefono" required>
            </div>
            <div>
                <label for="nombredelaEmpresa"></label>
                <input type="text" value="Nombre de la Empresa:" id="nombredelaEmpresa" name="nombredelaEmpresa" required>
            </div>
            <img class="registro" src="/public/img/registro.png">
            <button type="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>