---
title: "Registro"

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet" />
    <link href="/src/style/registro.css" rel="stylesheet" />
    <title>PAC</title>
</head>
<body>

        <img class="Logo" src="/public/img/Logo.png">
        <h2 class="Registro" >REGISTRO</h2>
        <div class="form-container">
        <form id="formularioRegistro">
            <div>
                <label for="nombreCompleto"></label>
                <input type="text" value="Nombre Completo:" id="nombreCompleto" name="nombreCompleto" required>
            </div>
            <div>
                <label for="numerodeDocumento"></label>
                <input type="text" value="Numero de Documento:" id="numerodeDocumento" name="numerodeDocument" required>
            </div>
            <div>
                <label for="email"></label>
                <input type="email" value="Correo:" id="email" name="email" required>
            </div>
            <div>
                <label for="contraseña"></label>
                <input type="text" value="Contraseña:" id="contraseña" name="contraseña" required>
            </div>
            <div>
                <label for="confirmarcontraseña"></label>
                <input type="text"  value="Confirmar Contraseña:" id="confirmarcontraseña" name="confirmarcontraseña" required>
            </div>
            <div>
                <label for="telefono"></label>
                <input type="text" value="Telefono:" id="telefono" name="telefono" required>
            </div>
            <div>
                <label for="nombredelaEmpresa"></label>
                <input type="text" value="Nombre de la Empresa:" id="nombredelaEmpresa" name="nombredelaEmpresa" required>
            </div>
            <label class="checkbox-container"> Aceptar términos y condiciones
                <input type="checkbox" id="termsCheckbox">
                <span class="checkmark"></span>
            </label>

            <button class="btnRegistro" type="submit">Registrarse</button>
        </form>
    </div>

    <img class="registroImagen" src="/public/img/registro.png">
    <h3 class="inicio" > Ya tienes cuenta? <u> Iniciar Sesion</u></h3>

</body>
</html>