---
title: "Registro"

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: "Josefin Slab", serif;
            font-optical-sizing: auto;
        }
    </style>
    <title>PAC</title>
</head>
<body class="bg-white flex justify-start items-center h-screen m-0 pl-[250px] pt-[80px] overflow-hidden">

    <img class="w-[320px] h-[125px] absolute top-[80px] left-[300px]" src="/public/img/Logo.png">
    <h2 class="absolute top-[220px] left-[390px] text-black text-[33px] ">REGISTRO</h2>
    
    <div class="form-container p-[35px] rounded-[10px] w-[380px] mt-14 relative text-left pr-5" >
        <form id="formularioRegistro" class="flex flex-col items-start mt-14 w-[350px]  ">
            
            <div>
                <label for=""></label>
                <input type="text" placeholder="Nombre Completo:" id="nombreCompleto" name="nombreCompleto" required class="bg-[#F5F6FA] w-[350px] min-h-11 mt-5 rounded-[4px] border border-[#D5D5D5] px-[20px] py-[7px] mb-4 text-[15px] transition-transform transform outline-none focus:translate-y-[-5px]">
            </div>
          
            <div>
                <label for=""></label>
                <input type="text" placeholder="Numero de Documento:" id="numerodeDocumento" name="numerodeDocument" required class="bg-[#F5F6FA] w-[350px] min-h-11 rounded-[4px] border border-[#D5D5D5] px-[20px] mb-4 py-[7px] text-[15px] transition-transform transform outline-none focus:translate-y-[-5px]">
            </div>
            <div>
                <label for=""></label>
                <input type="text" placeholder="Tipo de Documento:" id="numerodeDocumento" name="numerodeDocument" required class="bg-[#F5F6FA] w-[350px] min-h-11 rounded-[4px] border border-[#D5D5D5] px-[20px] py-[7px] mb-4 text-[15px] transition-transform transform outline-none focus:translate-y-[-5px]">
            </div>
            <div>
                <label for=""></label>
                <input type="email" placeholder="Correo:" id="email" name="email" required class="bg-[#F5F6FA] w-[350px] min-h-11 rounded-[4px] border border-[#D5D5D5] px-[20px] py-[7px] mb-4 text-[15px] transition-transform transform outline-none focus:translate-y-[-5px]">
            </div>
            <div>
                <label for=""></label>
                <input type="text" placeholder="Telefono:" id="telefono" name="telefono" required class="bg-[#F5F6FA] w-[350px] min-h-11 rounded-[4px] border border-[#D5D5D5] px-[20px] py-[7px] mb-4 text-[15px] transition-transform transform outline-none focus:translate-y-[-5px]">
            </div>
            <div>
                <label for=""></label>
                <input type="text" placeholder="Nombre de la Empresa:" id="nombredelaEmpresa" name="nombredelaEmpresa" required class="bg-[#F5F6FA] w-[350px] min-h-11 rounded-[4px] border border-[#D5D5D5] px-[20px] py-[7px] mb-4 text-[15px] transition-transform transform outline-none focus:translate-y-[-5px]">
            </div>
            <div>
                <label for=""></label>
                <input type="password" placeholder="Contraseña:" id="contraseña" name="contraseña" required class="bg-[#F5F6FA] w-[350px] min-h-11 rounded-[4px] border border-[#D5D5D5] px-[20px] py-[7px]  mb-4 text-[15px] transition-transform transform outline-none focus:translate-y-[-5px]">
            </div>
            <div>
                <label for="confirmarcontraseña"></label>
                <input type="password" placeholder="Confirmar contraseña:" id="confirmarcontraseña" name="confirmarcontraseña" required class="bg-[#F5F6FA] w-[350px] min-h-11 rounded-[4px] border border-[#D5D5D5] px-[20px] py-[7px] mb-4 text-[15px] transition-transform transform outline-none focus:translate-y-[-5px]">
            </div>

            <label class="checkbox-container inline-block relative pl-[35px] pt-[10px] mb-15 cursor-pointer user-select-none">Aceptar términos y condiciones
                <input type="checkbox" id="termsCheckbox" class="absolute opacity-0 cursor-pointer">
                <span class="checkmark absolute top-0 left-0 h-[25px] w-[25px] bg-[#eee] rounded-[4px] mt-2"></span>
            </label>

            <button type="submit" class="w-[175px] h-[44px] py-[10px] bg-[#A3E784] border-none text-black rounded-[5px] cursor-pointer text-[18px] mt-3 self-center">Registrarse</button>
            <h3 class=" w-[200px] h-[44px] py-[10px]  cursor-pointer text-[15px] mt-3 self-center">Ya tienes cuenta? <u>Iniciar Sesion</u></h3>
        </form>
    </div>

    <img class="w-[800px] ml-[250px] mb-[120px]" src="/public/img/registro.png">
    


    <style>
        .checkbox-container input:checked ~ .checkmark {
            background-color: #A3E784;
        }
    </style>

</body>
</html>