---
title: "Inicio"
---

<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="/src/styles/Inico.css" rel="stylesheet" />
		
	</head>
    <body>
        <div class="form-container">
            <form id="formularioInicio">
                <div>
                    <label for="nombreCompleto">Correo electronico:</label>
                    <input type="text" id="nombreCompleto" name="nombreCompleto" required>
                </div>

                <div>
                    <label for="contrase単a">Contrase単a:</label>
                    <input type="password" id="contrase単a" name="contrase単a" required>
                </div>

                <button type="submit">Inicar sesion</button>
            </form>
        </div>
    </body>
</html>

