---

---

<button title="Save" class="cursor-pointer flex items-center fill-[#FF8310] bg-[#FFA756] hover:bg-[#FFA756] active:border active:border-[#FFA756] rounded-md duration-100 p-2">
    <span class="text-sm text-[#FF8310] font-bold pr-1">Aprobado</span>
</button>
