---
// MenuItem.astro
export interface Props {
  href: string;
  label: string;
  badge?: string;
}

const { href, label, badge } = Astro.props;
---

<li>
  <a href={href} class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
    <slot name="icon"></slot>
    <span class="flex-1 ms-3 whitespace-nowrap">{label}</span>
    {badge && <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">{badge}</span>}
  </a>
</li>
