---
interface Props {
Text: string;
}

const {Text} = Astro.props;
---

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />

<style>
    .font-josefin-slab {
        font-family: 'Josefin Slab', serif;
    }
</style>

<div class="flex items-center mr-[16px] ">
    <input type="radio" id="" name="estado" class="form-radio h-5 w-5 focus:ring-Verde checked:bg-Verde  ">
    <label class="ml-2 text-sm font-josefin-slab font-semibold ">{Text}</label>
</div>

<style>
    input[type="radio"].form-radio:checked {
        background-color: #A3E784 ;
    }
</style>