---
import Items from "./items.astro";
Items;
---

<!doctype html>
<html lang="en">
    <head>
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap"
            rel="stylesheet"
        />

        <style>
            body {
                font-family: "Josefin Slab", serif;
                font-optical-sizing: auto;
            }
    
            .sidebar {
                width: 64px;
                transition: width 0.3s;
                overflow: hidden;
            }
    
            .sidebar.expanded {
                width: 256px;
            }
    
            .sidebar ul li span {
                display: none;
            }
    
            .sidebar.expanded ul li span {
                display: inline;
            }
        </style>
    </head>
    <body class="bg-gray-100">

      <aside id="logo-sidebar" class="sidebar fixed top-0 left-0 z-40 h-screen bg-gray-50 transition-transform">
            <div class="h-full px-3 py-4 overflow-y-auto dark:bg-custom-green">
                <a href="#" class="flex items-center ps-2.5 mb-5">
                    <button id="botonDespliegue">
                        <img src="../../public/img/logo.svg" class="min-h-7 min-w-7 me-3 sm:h-7" alt="Sena logo" />
                    </button>
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-black">PAC</span>
                </a>
                <ul class="space-y-2 font-medium">

                    <Items slot="icon" href="hover" label="Proyecto" />
                    <Items slot="icon" href="hover" label="Proyecto" />
                    <Items slot="icon" href="hover" label="Proyecto" />
                    <Items slot="icon" href="hover" label="Proyecto" />
                    <Items slot="icon" href="hover" label="Proyecto" />

                </ul>
            </div>
        </aside>
    
        <script type="module">
            document.addEventListener('DOMContentLoaded', function () {
                var sidebar = document.getElementById('logo-sidebar');
                var toggleButton = document.getElementById('botonDespliegue');
    
                toggleButton.addEventListener('click', function(event) {
                    sidebar.classList.toggle('expanded');
                    event.stopPropagation();  // Evita que el evento se propague al documento
                });
    
                sidebar.addEventListener('click', function(event) {
                    event.stopPropagation();  // Evita que el evento se propague al documento
                });
    
                document.addEventListener('click', function() {
                    if (sidebar.classList.contains('expanded')) {
                        sidebar.classList.remove('expanded');
                    }
                });
            });
        </script>


    </body>
</html>
