---
import Input from "../Components/Input.astro"
import BotonPrincipal from "../Components/BotonPrincipal.astro"
import BotonSegundo from "../Components/BotonSegundo.astro"
import SelectBoxTI from "../Components/SelectBoxTI.astro"
import SelectBoxRol from "../Components/SelectBoxRol.astro"
import RadioButton from "../Components/RadioButton.astro"
import Layoutprincipal from "../layouts/Layoutprincipal.astro"
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import Modal from "../Components/Modal.astro"

---

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />

<style>
    .font-josefin-slab {
        font-family: 'Josefin Slab', serif;
    }
</style>


<Layoutprincipal title="Crear Usuario">
    <Layoutcontenido title="Crear Usuario">
        <div class="w-full md:w-1/2" >
        <div class="  flex flex-col p-[5%]  Flex-box">
            <div class="relative w-full">
                <Input type="text" Text="Nombre del usuario:" placeholder="Nombre Completo:" id="UsuarioNombre" />
                <span id="nombreError" class="error-message"></span>
            </div>

            <div class="relative w-full">
                <SelectBoxTI Text="Tipo de documento" id="tipoDocumento" />
                <span id="tipoDocumentoError" class="error-message"></span>
            </div>

            <div class="relative w-full">
                <Input type="text" Text="Número de documento:" placeholder="Número De Documento:" id="numeroDc" />
                <span id="numeroDcError" class="error-message"></span>
            </div>

            <div class="relative w-full">
                <Input type="email" Text="Correo Electrónico:" placeholder="Correo:" id="CorreoUsuario"/>
                <span id="correoError" class="error-message"></span>
            </div>
        </div>
        </div>

        <div class="w-full md:w-1/2" >
            <div class="  flex flex-col  p-[5%]  Flex-box">
                <div class="relative w-full">
                    <Input type="password" Text="Contraseña:" placeholder="Contraseña:" id="contrasenaUsuario"/>
                    <i class='bx bx-show cursor-pointer absolute right-3 top-2/4 transform -translate-y-2/4' id="togglePasswordUsuario"></i>
                    <span id="contrasenaError" class="error-message"></span>
                </div>

                <div class="relative w-full">
                    <SelectBoxRol Text="Tipo de Rol:" id="UsuarioRol" />
                    <span id="" class="error-message"></span>
                </div>

                    <h1 class=" font-josefin-slab font-semibold text-black"> Estado: </h1>
                    <div class="flex h-[56px] ">
                    <RadioButton Text="Activo" id="ActivoUsuario"/> <RadioButton Text="Inactivo" id="InactivoUsuario"/>
                </div>

                <div class="relative w-full">
                    <Input type="text" Text="Celular:" placeholder="Teléfono:" id="telefono" />
                    <span id="telefonoError" class="error-message"></span>
                </div>

            <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-2">
                <a href="/HomeSuperAdmin">
                    <BotonPrincipal Text="Volver" id="Registro" />
                </a>
                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 show-modal">
                    <BotonSegundo Text="Guardar" />
                </div>
            </div>
        </div>
    </div>

<script src="../js/CrearUsuario.js"></script>

<Modal Text="Usuario registrado correctamente" >

<script>
    const modal = document.querySelector('.modal');

    const showModal = document.querySelector('.show-modal');
    const closeModal = document.querySelector('.close-modal')

    showModal?.addEventListener('click', function(){
        modal?.classList.remove('hidden')
    });

    closeModal?.addEventListener('click', function(){
        modal?.classList.add('hidden')
    });
</script>
    </Layoutcontenido>
</Layoutprincipal>
