---
import Input from "../Components/Input.astro"
import BotonPrincipal from "../Components/BotonPrincipal.astro"
import BotonSegundo from "../Components/BotonSegundo.astro"
import SelectBoxTI from "../Components/SelectBoxTI.astro"
import SelectBoxRol from "../Components/SelectBoxRol.astro"
import RadioButton from "../Components/RadioButton.astro"
import Layoutprincipal from "../layouts/Layoutprincipal.astro"
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import Modal from "../Components/Modal.astro"
---

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />

<style>
    .font-josefin-slab {
        font-family: 'Josefin Slab', serif;
    }
</style>


<Layoutprincipal title="Crear Usuario">
    <Layoutcontenido title="Crear Usuario">

        <div class="w-full md:w-1/2" >
        <div class="  flex flex-col p-[5%]  Flex-box">
            <Input Text="Nombre del usuario:" placeholder="Ej: Pepito Perez" type="text" id=""/>
            <SelectBoxTI Text="Tipo de documento"/>
            <Input Text="Número de documento:" placeholder="Ej: 123456789" type="text" id=""/>
            <Input Text="Correo Electrónico:" placeholder="Ej: ejemplo@gmail.com" type="email" id=""/>
        </div>
        </div>

        <div class="w-full md:w-1/2" >
            <div class="  flex flex-col  p-[5%]  Flex-box">
                    <Input Text="Contraseña:" placeholder=".............." type="password" id=""/>
                    <SelectBoxRol Text="Tipo de Rol:"/>
                    <h1> Estado:</h1>
                    <div class="flex h-[56px] ">
                    <RadioButton Text="Activo"/> <RadioButton Text="Inactivo"/>
                </div>
                    <h1>Celular:</h1>
                    <Input Text="" placeholder="Ej: 312456789" type="text" id=""/>

            <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-2">
                <a href="/HomeSuperAdmin">
                    <BotonPrincipal Text="Volver" />
                </a>
                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4 show-modal">
                    <BotonSegundo Text="Guardar" />
                </div>
            </div>
        </div>
    </div>


<Modal Text="Usuario registrado correctamente" >

<script>
    const modal = document.querySelector('.modal');

    const showModal = document.querySelector('.show-modal');
    const closeModal = document.querySelector('.close-modal')

    showModal?.addEventListener('click', function(){
        modal?.classList.remove('hidden')
    });

    closeModal?.addEventListener('click', function(){
        modal?.classList.add('hidden')
    });
</script>
    </Layoutcontenido>
</Layoutprincipal>
