---
import { Title, Text } from '@tremor/react';
import Layoutprincipal from "../layouts/Layoutprincipal.astro"
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import {CardBase} from '../Components/CardBase'
import { TabState } from "../Components/TabState"
import { TableProject } from "../Components/TableProject"

---

<Layoutprincipal title="Proyectos">

    <Layoutcontenido title="contenido">

        <div class="bg-slate-200 p-6 sm:p-10">
            <Title>Bienvenido SuperAdmin</Title>
            <Text>Banco de Proyectos</Text>
        </div>

        <TabState
         Text1={'Pestaña1'} Text2={'Pestaña2'} client:visible/>

        <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 z-0">
            <CardBase title={'Crear Area'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            additionalText={'Proyectos'} client:visible/>
            <CardBase title={'Crear Instructores'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            additionalText={'Proyectos'} client:visible/>
            <CardBase title={'Crear aprendices'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            additionalText={'Proyectos'} client:visible/>
            <CardBase title={'Craer Objetivos'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            additionalText={'Proyectos'} client:visible/>
            <CardBase title={'Crear Nose'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            additionalText={'Proyectos'} client:visible/>
            <CardBase title={'Proyectos'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            additionalText={'Proyectos'} client:visible/>
        </div>

        <div class="w-full">
            <TableProject/>

        </div>



</Layoutcontenido>

</Layoutprincipal>
