---
import { Title, Text, Button} from '@tremor/react';
import Layoutprincipal from "../layouts/Layoutprincipal.astro"
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import {CardBase} from '../Components/CardBase'
import { TabState } from "../Components/TabState"
import Grid from '../Components/Grid.astro';

---

<Layoutprincipal title="Proyectos">

    <Layoutcontenido title="contenido">

        <div class="bg-[#059669] p-6 sm:p-10 rounded ">
            <Title className='text-white text-lg font-extrabold'>Bienvenido SuperAdmin</Title>
            <Text className='text-white font-extrabold'>Banco de Proyectos</Text>
        </div>

        <!-- <TabState client:visible
         Text1='Pestaña1' Text2='Pestaña2' /> -->

        <div class="flex flex-wrap  gap-4 mt-16 z-0 w-full">
            <CardBase title={'Areas'} 
            metricValue={20} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            
            <CardBase title={'Crear Instructores'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            <CardBase title={'Crear aprendices'} 
            metricValue={40} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            <CardBase title={'Craer Objetivos'} 
            metricValue={90} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            <CardBase title={'Crear Nose'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            <CardBase title={'Proyectos'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
        </div>

        <div class="border-[1px] rounded-t-lg mt-10">

            <!-- <div class="grid grid-cols-12 bg-[#059669] font-bold py-4 rounded-t-lg border-b">
                <div class="text-white text-lg font-extrabold col-span-12 md:col-span-2 text-center md:text-left px-6">OBJETIVOS</div>
              </div>

            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>
            <Grid Text1='' id1='' id2='' name='' categoria=''/>

        </div> -->



</Layoutcontenido>

</Layoutprincipal>
