---
import { Title, Text, Button} from '@tremor/react';
import Layoutprincipal from "../layouts/Layoutprincipal.astro"
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import {CardBase} from '../Components/CardBase'
import { TabState } from "../Components/TabState"
import { TableProject } from "../Components/TableProject"

---

<Layoutprincipal title="Proyectos">

    <Layoutcontenido title="contenido">

        <div class="bg-[#A3E784] p-6 sm:p-10 rounded ">
            <Title>Bienvenido SuperAdmin</Title>
            <Text>Banco de Proyectos</Text>
        </div>

        <TabState client:visible
         Text1='Pestaña1' Text2='Pestaña2' />

        <div class="flex flex-wrap  gap-4 mt-6 z-0 w-full">
            <CardBase title={'Areas'} 
            metricValue={20} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            
            <CardBase title={'Crear Instructores'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            <CardBase title={'Crear aprendices'} 
            metricValue={40} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            <CardBase title={'Craer Objetivos'} 
            metricValue={90} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            <CardBase title={'Crear Nose'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
            <CardBase title={'Proyectos'} 
            metricValue={50} 
            progressText={'Proyectos creados'} 
            
            buttonTex={'Ver detalle'} client:visible/>
        </div>

         <!-- <div class="w-full">
            <TableProject/>

        </div>  -->



</Layoutcontenido>

</Layoutprincipal>
