---
import Input from '../Components/Input.astro';
import SelectBoxTI from "../Components/SelectBoxTI.astro"
import LayoutPrincipal from '../layouts/Layoutprincipal.astro';
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import BotonPrincipal from '../Components/BotonPrincipal.astro';
import ModalPerfil from '../Components/Modal.astro';
---
<style> 

body {
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
        }
</style>
<LayoutPrincipal title="Editar Perfil">
    <Layoutcontenido title="Editar Perfil">
        <div class="w-full md:w-1/2">
            <div class="flex flex-col p-[5%] Flex-box space-y-5">
                <Input placeholder="Nombre completo" type="text" Text="Nombre completo" id='nombre'/>
                <div id="error-nombre" class="text-red-500"></div>
                <SelectBoxTI Text="Tipo de documento"/>
                <Input placeholder="Numero de documento" type="text" Text="Numero de documento" id='numeroDoc'/>
                <div id="error-numeroDoc" class="text-red-500"></div>
                <Input placeholder="Telefono" type="text" Text="Telefono" id='telefono'/>
                <div id="error-telefono" class="text-red-500"></div>
            </div>
        </div>

        <div class="w-full md:w-1/2">
            <div class="flex flex-col p-[5%] Flex-box space-y-5">
                <Input placeholder="Correo" type="email" Text="Correo:" id='correo'/>
                <div id="error-correo" class="text-red-500"></div>
                <Input type="text" Text="Nombre De la Empresa:" placeholder="Nombre De la Empresa" id='nombreEmpresa'/>
                <div id="error-nombreEmpresa" class="text-red-500"></div>
                <Input placeholder="Contraseña" type="password" Text="Contraseña" id='contraseña'/>
                <div id="error-contraseña" class="text-red-500"></div>
                <Input placeholder="Confirmar Contraseña" type="password" Text="Confirmar Contraseña" id='confiContraseña'/>
                <div id="error-confiContraseña" class="text-red-500"></div>
                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
                    <div>
                        <BotonPrincipal Text="Guardar" id="guardarBtn"/>
                    </div>
                </div>
            </div>
        </div>
    </Layoutcontenido>
</LayoutPrincipal>


<ModalPerfil Text='Perfil actualizado'/>

<script src="../js/EditarPerfil.js"></script>
    