---
import Input from '../Components/Input.astro';
import SelectBoxTI from "../Components/SelectBoxTI.astro"
import LayoutPrincipal from '../layouts/LayoutPrincipal.astro';
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import BotonPrincipal from '../Components/BotonPrincipal.astro';
import ModalPerfil from '../Components/Modal.astro';
---

<LayoutPrincipal title="Editar Perfil">
    <Layoutcontenido title="Editar Perfil">
        <div class="w-full md:w-1/2">
            <div class="flex flex-col p-[5%] Flex-box">
                <h1>Nombre completo</h1>
                <Input placeholder="Nombre completo" type="text" Text="" id='nombre'/>
                <div id="error-nombre" class="text-red-500"></div>
                <h1>Tipo de documento</h1>
                <SelectBoxTI Text=""/>
                <h1>Numero de documento</h1>
                <Input placeholder="Numero de documento" type="text" Text="" id='numeroDoc'/>
                <div id="error-numeroDoc" class="text-red-500"></div>
                <h1>Telefono</h1>
                <Input placeholder="Telefono" type="text" Text="" id='telefono'/>
                <div id="error-telefono" class="text-red-500"></div>
            </div>
        </div>

        <div class="w-full md:w-1/2">
            <div class="flex flex-col p-[5%] Flex-box">
                <h1>Correo:</h1>
                <Input placeholder="Correo" type="email" Text="" id='correo'/>
                <div id="error-correo" class="text-red-500"></div>
                <h1>Nombre De la Empresa:</h1>
                <Input type="text" Text="" placeholder="Nombre De la Empresa" id='nombreEmpresa'/>
                <div id="error-nombreEmpresa" class="text-red-500"></div>
                <h1>Contraseña</h1>
                <Input placeholder="Contraseña" type="password" Text="" id='contraseña'/>
                <div id="error-contraseña" class="text-red-500"></div>
                <h1>Confirmar Contraseña</h1>
                <Input placeholder="Confirmar Contraseña" type="password" Text="" id='confiContraseña'/>
                <div id="error-confiContraseña" class="text-red-500"></div>
                <div class="flex flex-col items-center sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
                    <div>
                        <BotonPrincipal Text="Guardar" id="guardarBtn"/>
                    </div>
                </div>
            </div>
        </div>
    </Layoutcontenido>
</LayoutPrincipal>


<ModalPerfil Text='Perfil actualizado'/>

<script src="../js/Validaciones.js"></script>
    
