---
import Layoutformulario from "../layouts/Layoutformulario.astro";
import Input from "../Components/Input.astro";
import BotonPrincipal from "../Components/BotonPrincipal.astro";
---

<Layoutformulario title="Formulario">
  <div class=" flex 2xl:h-screen 2xl:w-full  h-auto sm:96 items-center justify-center 2xl:gap-x-72 ">
    <!--contenedor principal -->

    <div class="flex content-center ">
      <!--contenedor del formulario -->
      <form action="#" class=" form flex flex-col 2xl:w-96 sm:w-[600px] sm:h-[900px] justify-center items-center 2xl:gap-28 gap-y-20 sm:gap-y-24 ">
        <div
          class="logo-sena flex 2xl:m-auto m-8 items-center justify-center w-56 h-20 sm:w-96 sm:h-32 2xl:max-w-80 2xl:max-h-32 bg-custom-green 2xl:rounded-bl-[50px] 2xl:rounded-br-[50px] rounded-bl-[40px] rounded-br-[40px] "
        >
          <!--caja del logo -->
          <img
            class="sena sm:w-20 sm:h-20 w-12 h-12 "
            src="/public/img/logoSena.png"

          />
        </div>

        <div class="login flex flex-col items-center 2xl:gap-4 2xl:min-w-96 w-56 sm:w-96 gap-y-4 sm:gap-y-7">
          <div class="text-3xl 2xl:pb-8">LOGIN</div>

          <Input type="text" placeholder="E-mail" Text="" />

          <Input type="password" placeholder="Password" Text="" />

          <div class="flex justify-end w-full">
            <a href="#" class="text-blue-500 underline decoration-1"
              >Forget password</a
            >
          </div>

          <BotonPrincipal Text="Login" />
        </div>

        <div class="boton items-center text-center sm:mb-20">
          <div class="flex">No account?</div>
          <a href="#" class="signup">Registrer</a>
        </div>
      </form>
    </div>

    <div class=" hidden md:hidden lg:hidden xl:block 2xl:block 2xl:w-[800px] 2xl:h-[800px] xl:h-[650px] xl:w-[550px] sm:w-[700px] sm:h-[700px]">
      <img class="sm:w-auto sm:h-auto 2xl:w-full 2xl:h-full " src="../../public/img/nino.png" alt="" />
    </div>
  </div>
</Layoutformulario>
