---
import Layoutprincipal from "../layouts/Layoutprincipal.astro"
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
import Grid from '../Components/Grid.astro';
import { ChartDonut } from '../Components/ChartDonut';
import { Card } from '@tremor/react';
import { Divider } from '@tremor/react';

---

<Layoutprincipal title="Proyectos">

    <Layoutcontenido title="contenido">

        <div class="bg-[#fcfffe] p-6 sm:p-10 rounded ">
            <Card className='bg-orange-100 w-60 h-60'>
                <ChartDonut client:visible/>
            </Card>

          
            <div class="grid grid-cols-12 bg-[#A3E784] font-bold py-4 rounded-t-lg border-b mt-10">
                <div class="col-span-12 md:col-span-2 text-center md:text-left px-6">Areas</div>
            </div>

                <Grid Text1='' id1='' id2='' name='' categoria=''></Grid>
                <Grid Text1='' id1='' id2='' name='' categoria=''></Grid>
                <Grid Text1='' id1='' id2='' name='' categoria=''></Grid>
                <Grid Text1='' id1='' id2='' name='' categoria=''></Grid>
                <Grid Text1='' id1='' id2='' name='' categoria=''></Grid>

        
            
                
            
            
        </div>




</Layoutcontenido>

</Layoutprincipal>
