---
import EstadoAprobado from "../Components/EstadoAprobado"
import AceptarTerminos from "../Components/AceptarTerminos"
import BotonEditar from "../Components/BotonEditar"
import BotonPrincipal from "../Components/BotonPrincipal"
import BotonSegundo from "../Components/BotonSegundo"
import Card from "../Components/Card"
import EstadoDevuelto from "../Components/EstadoDevuelto"
import EstadoRechazado from "../Components/EstadoRechazado"
import RadioButton2 from "../Components/RadioButton2"
import Grid from "../Components/Grid"
import Grid2 from "../Components/Grid2"
import GridDevolver from "../Components/GridDevolver"

---

<div class="">
    <AceptarTerminos text="ss" id=""/>
</div> 

<div class="">
    <EstadoAprobado/ client:visible>
</div> 

<div class="">
    <EstadoDevuelto/ client:visible>
</div> 

<div class="">
    <EstadoRechazado/ client:visible>
</div> 

<div class="">
    <BotonEditar/ client:visible>
</div> 

<div class="">
    <BotonPrincipal className="" Text="ss" id=""/>
</div> 

<div class="">
    <BotonSegundo text="ss" id=""/>
</div> 

<div class="">
    <Card text="ss"/>
</div> 

<div class="">
    <RadioButton2 name="" value="" id=""/>
</div> 

<div class="">
    <Grid Text1="ddddddddddd" id1="" id2="" name="" />
</div> 

<div class="">
    <Grid2 text1="ddddddddddd" children />
</div> 

<div class="">
    <GridDevolver text1="ddddddddddd"  />
</div> 