---
import { Divider, Title } from '@tremor/react';
//import ModalUsuario from "../Components/React/ModalUsuario";
//import Areas from "../Components/React/Areas";
import TipoAreas from "../Components/React/TipoAreas"
---
    <div class="">
      {/* <ModalUsuario client:visible/> */}
      {/* <Areas client:visible/> */}
      <TipoAreas client:visible/>
    </div>
    

