---
import Layoutprincipal from "../layouts/LayoutPrincipal.astro"
import BarraPreguntas from "../Components/BarraPreguntas.astro"
import EstadoAprobado from "../Components/EstadoAprobado.astro"
import EstadoRechazado from "../Components/EstadoRechazado.astro"
import GridDevolver from "../Components/GridDevolver.astro"
import Grid2 from "../Components/Grid2.astro"
import Estado from "../Components/Estado.astro"
import GridPrueba from "../Components/GridPrueba.astro"
---

<Layoutprincipal title="">
    <div class="flex justify-center min-h-screen">
        <div class="p-10 w-full max-w-7xl my-10">
          <div class="flex flex-col">

              <div class="grid grid-cols-12 bg-[#A3E784] font-bold py-4 rounded-t-lg border-b">
                <div class="col-span-12 md:col-span-10 text-center md:text-left px-6">ESTADO</div>
                <div class="col-span-12 md:col-span-2 text-center md:text-left px-6">ESTADO</div>
            </div>
                <GridPrueba Text1="PAC" id1="" id2="" name="" categoria="" >
                  <Estado/>
                </GridPrueba>

                <GridPrueba Text1="Boteritos" id1="" id2="" name="" categoria="" >
                  <Estado/>
                </GridPrueba>

                <GridDevolver Text1="Boteritos"></GridDevolver>

                <GridDevolver Text1="Software contable liviano"></GridDevolver>

                <Grid2 Text1="Plataforma Banca II" >
                    <EstadoAprobado/>
                </Grid>

             

            </div>
        </div>
    </div>
</Layoutprincipal>