---
import CardPrueba from "../Components/CardPrueba.astro"
import LayoutPrincipal from "../layouts/LayoutPrincipal.astro"
import Layoutcontenido from "../layouts/Layoutcontenido.astro"
---
<LayoutPrincipal title="">
<Layoutcontenido title="">

    <div class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <CardPrueba Text="Costos y producciones"></CardPrueba>
            <CardPrueba Text=""></CardPrueba>
            <CardPrueba Text=""></CardPrueba>
        </div>
      </div>


</Layoutcontenido>
</LayoutPrincipal>

