---
import Carpag from "../Components/Card.astro";

import LayoutHome from "../layouts/LayoutHome.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        body {
            font-family: "Nunito Sans", sans-serif;
            font-optical-sizing: auto;
        }
            /* Estilos personalizados con Tailwind CSS */
            * {
                box-sizing: border-box;
            }

            body {
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                margin: 0px auto;
                font-size: 1vw;
            }
        </style>
        <title>Astro</title>
    </head>

    <LayoutHome title="">
        <div
            class="h-screen w-full flex justify-center items-center flex-col p-[5%]"
        >
            <div class="w-[70%] m-auto flex max-[768px]:m-[15px]">
                <div class="w-[90%] flex-col mt-[10%]">
                    <h1
                        class="text-[6vw] leading-[1rem] font-josefin-slab max-[768px]:text-[15vw] mb-[5%]"
                    >
                        Bienvenido
                        <h2
                            class="text-[5vw] mt-[3%] font-['serif' max-[768px]:text-[50px] ] text-[#A3E784]"
                        >
                            Aprendiz
                            <p
                                class="text-[1vw] mt-[5%] text-black font-josefin-sans leading-[1.1rem] max-[768px]:text-[15px] mb-[8%]"
                            >
                                ¿Tienes una idea que quema en tu mente? ¡Es hora
                                de compartirla! Únete a nuestro banco de
                                proyectos y convierte tu visión en realidad.
                                ¿Estás listo para dar el primer paso hacia el
                                éxito?
                            </p>
                        </h2>
                    </h1>
                    <div class="w-full max-[768px]:hidden flex items-center">
                        <img
                            class="w-[35em] max-[768px]:hidden"
                            src="/Img/Principal.png"
                            alt="Olvido de contraseña"
                        />
                    </div>
                </div>

                <div class="w-[100%] h-[50%] flex justify-center">
                    <Carpag Text="Ver proyecto asignado" />
                </div>
            </div>
        </div>
    </LayoutHome>


</html>
