---
import LayoutSuperAdmin from "../layouts/LayoutSuperAdmin.astro"
import Card from "../Components/Card.astro"
---

<LayoutSuperAdmin  title="">

    <div class=" w-full h-[60%]">
                <div class="w-[100%] h-[50%] flex justify-center items-center flex-wrap ">
                    <a href="/CrearAreas">
                        <Card  Text="Crear Area"  />
                    </a>

                    <a href="/CrearTiposdeArea">
                        <Card  Text="Crear Tipos de Area" />
                    </a>

                    <a href="/CrearItems">
                        <Card  Text="Crear Items"  />
                    </a>
                </div>

                <div class="w-full flex items-center justify-center flex-wrap ">

                    <a href="/CrearObjetivos">
                        <Card  Text="Crear Objetivos"  />
                    </a>

                    <a href="/">
                        <Card  Text="Crear Alcance" />
                    </a>

                    <a href="/">
                        <Card  Text="Carga masiva de aprendices"/>
                    </a>
                </div>
            </div>
        </div>
</Layoutprincipal>