---

interface Props { //TypeScript
    title: string;
}

const { title } = Astro.props;
---

<main class="h-screen w-screen bg-black" >

    <div class="h-64 w-auto bg-blackg" >

    </div>
    
    <slot>

</main>


