---
interface Props {
    //TypeScript
    title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>{title}</title>

<body>



    <div class="text-center px-20">
        <span class="font-serif text-2xl"> {title} </span>

    </div>

<main class="flex justify-center items-center min-h-screen min-w-full ">
    <div class=" p-20 w-2/4 h-full bg-white rounded-lg border-none border-Borde_gris flex items-center adsolute mx-40 justify-center">
        <div class="flex justify-center space-x-10 ">
            <slot />
        </div>
    </div>


</main>


