---
export interface Props {
  title: string;
  title2:  string;
}
const { title, title2 } = Astro.props;

import Navbar from '../Components/Navbar.astro';
import Sidebard from '../Components/Menu.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<title>{title}</title>

  <body>
    <Sidebard/>
    <Navbar Text='SuperAdmin'/>
    <div class=" px-56 bg-cover bg-center shadow-md h-full max-[768px] max-[768px]:p-[20px] overflow-y-scroll ">
         <slot />
    </div>
   
    <style is:global>

        body {
          overflow: hidden;
         position: static;
        }
          :root {
            --accent: 124, 58, 237;
            --accent-gradient: linear-gradient(
              45deg,
              rgb(var(--accent)),
              #F5F6FA 30%,
              white 60%
            );
          }
          html {
            font-family: system-ui, sans-serif;
            background-color: #f6f6f6;
          }
          code {
            font-family: 'Josefin Slab', serif, 'Josefin Sans', sans-serif, 'Inter', sans-serif
          }
        </style>
  
    </body>
  </html>
  
  