---
interface Props {
    //TypeScript
    title: string;
}

const { title } = Astro.props;
---

<main class="flex justify-center items-center min-h-screen min-w-full pt-8">
    <div class="w-2/3 h-auto p-8 bg-white rounded-lg border-none pt-8">
    
        <slot />

    </div>


</main>

